<!doctype html>
<html>
  <head>
    <title> Badge of fame</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="centre">
    <div >
        <h1 class= "centre">Badges</h1>
        <img src="/images/good-job.png"  style="width: 100px; height: 100px;">
        <a  href="/" >Back to Home</a>
        <div id="root"></div>
    <script>
        function App() {
            return React.createElement('h1', null, 'Hello, Next.js via CDN!');
        }
        ReactDOM.createRoot(document.getElementById('root')).render(React.createElement(App));
    </script>
  </div>
  </body>
</html>

