<!doctype html>
<html>
  <head>
    <title> Badge of fame</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="centre">
    <div >
        <h1 class= "centre">Badges</h1>
        <Script>alert("This is where your badges will be stored");</Script>
        <img name="Good Job" src="/images/good-job.png"  style="width: 100px; height: 100px;">
        <a  href="/" >Back to Home</a>
        
  </div>
  </body>
</html>

