<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Badges</title>
</head>
<body>
    <h1>Motivational Badges</h1>
    
        <img src=" images/good-job.png "  style="width: 100px; height: 100px;">
            
       
</body>
</html>
