<!doctype html>
<html>
  <head>
    <title> Exercise</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="centre Mealplan">
    <div >
        <h1>Exercise Videos</h1>
        <form action="/Exercise-videos" method="POST">
          <label for="exercise">Choose which body part you want to work out</label>
          <select name="exercise" id="exercise">
              <option value="Arms">Arms</option>
              <option value="Legs">Legs</option>
              <option value="Core">Core</option>
          </select>
          <button type="submit">Submit</button>
       
  </div>
  

  </body>
</html>

