<!doctype html>
<html>
  <head>
    <title> Exercise</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div >
        <h1>Exercise Videos</h1>
        <h2>Arms</h2>
        <h2>Legs</h2>
        <h2>Core</h2>

  </div>
  </body>
</html>