<!doctype html>
<html>
  <head>
    <title> <%=AppName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1 ><%=AppName%></h1>
    <div >
      <p><a href="register">Register with us</a></p>
      <p><a href="login">Login</a></p>
      
     
      
     

  </div>
  </body>
</html>