<!doctype html>
<html>
  <head>
    <title > <%=AppName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1 class= "centre"><%=AppName%></h1>
    <div class= "centre" >
      <p><a href="register">Register with us</a></p>
      <p><a href="login">Login</a></p>
      <p><a href="Mealplan">Meal Plan</a></p>
      <p><a href="Exercises">Exercise videos</a></p>
      <p><a href="badges">badges</a></p>
      <p><a href="Messages">Messages</a></p>
      
     
      
     

  </div>
  </body>
</html>