<!doctype html>
<html>
  <head>
    <title>Login </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />

  </head>
  <body>
    <h1 class= "centre">Login</h1>
 
    <form class= "centre" method="POST" action="/loggedin">
      <p>username: <input class= "centre" id="username" type="text" name="username"  /></p>
      <p>password: <input class= "centre" id="password" type="text" name="password"  /></p>
        <input class= "centre" type="submit" value="login" />
      </form>
  </body>
</html>
