<!doctype html>
<html>
  <head>
    <title> <%=AppName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div >
        <form action="/meal-plans" method="POST">
            <label for="diet">Choose your dietary preference:</label>
            <select name="diet" id="diet">
                <option value="keto">Keto</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="balanced">Balanced</option>
            </select>
            <button type="submit">Get Meal Plan</button>
        </form>
        
     
     

  </div>
  </body>
</html>