<!doctype html>
<html>
  <head>
    <title> <%=AppName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="centre Mealplan" class="dropdown">
        <form action="/meal-plans" method="POST">
            <label for="diet">Choose your dietary preference:</label>
            <select name="diet" id="diet">
                <option value="keto">Keto</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="balanced">Balanced</option>
            </select>
            <select name="meal" id="meal">
              <option value="lunch">lunch</option>
              <option value="dinner">dinner</option>
              <option value="breakfast">breakfast</option>
          </select>
            
            <button type="submit">Get Meal Plan</button>
        </form>
       
     
     

  </div>
  </body>
</html>