<!DOCTYPE html>
<html lang="en">
<head>
    <title>Messages</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="centre">
    <h1 > choose what kind of messages you would like to recieve</h1>
    <button type="submit">Tough Love</button>
    <button type="submit">kind</button>
    
        
    <a  href="/" >Back to Home</a>
</body>
</html>
