.centre{
    text-align: center;
    
    border-radius: 10px;
    
}
body {
    background-color: rgb(210, 210, 243);
  }
a{
    color:  black;
    font-weight: bold;
    text-decoration: none;
    
}
a:hover{
    text-decoration:underline;
}
p{
    font-size: 15pt;
}